
<!-- VIEW displays the model data, and sends user INPUTS/ACTIONS (e.g. button clicks) to the CONTROLLER. -->


 <h1>Cocktails</h1>

  <%= link_to "Create cocktail" new_cocktail_path, class     "btn btn-primary" %>

  <%= @Cocktails.each do |cocktail| %>
  <li> <%= link_to cocktail.name, cocktails_path %> </li>
  <% end %>

<%= link_to cocktail.name, cocktail_path(cocktail) %>





